{{ partial "top.html" . }}

<h1>Hackerspace Brussels</h1>

<blockquote>Hackerspace Brussels (HSBXL) is a space, dedicated to various aspects of constructive & creative hacking. The space is about 300 square meters, there is a little electronics lab with over 9000 components, a library, and lots of tools. You're always welcome to follow one of the workshops or come to the weekly Tuesday meetings, hack nights or other get-together events.</blockquote>

<video controls="" loop="" class="embed-responsive-item" style="max-width:400px;">
    <source src="https://media.hsbxl.be/intro.webm" type="video/webm; codecs=vp9,vorbis">
    <source src="https://media.hsbxl.be/intro.mp4" type="video/mp4">
</video>

<h2>Connect</h2>
<div class="connect">
    <a class="icon_github" href="https://github.com/hsbxl">Github</a>
    <a class="icon_gitlab" href="https://gitlab.com/hsbxl">Gitlab</a>
    <a class="icon_youtube" href="https://www.youtube.com/hsbxl">Youtube</a>
    <a class="icon_twitter" href="https://twitter.com/hsbxl">Twitter</a>
    <a class="icon_mastodon" href="https://mastodon.social/@hsbxl">Mastodon</a>
    <a class="icon_facebook" href="https://www.facebook.com/groups/hsbxl">Facebook</a>
</div>

{{ partial "bottom.html" . }}
