{{ partial "top.html" . }}

<h1>{{ .Title }}</h1>
{{ partial "breadcrumbs.html" . }}

{{ .Content }}

{{ if .IsPage }}
[<a href="{{ .Site.Params.giteditpath }}/{{ .File.Path }}">Edit this page</a>]
{{ end }}

{{ partial "bottom.html" . }}
