
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
<meta name="author" content="{{ with .Site.Params.author }}{{ . }}{{ end }}">

<title>{{ .Title }}</title>
{{ .Hugo.Generator }}
<link href="https://fonts.googleapis.com/css?family=Source+Code+Pro:400,700" rel="stylesheet" type="text/css">
<link  href="{{ .Site.BaseURL }}/css/theme.min.css" rel="stylesheet" type="text/css">